.ReactModal__Overlay {
    border: none !important;
    z-index: 50;
    padding: none !important;
    inset: none !important;
}

.ReactModal__Content {
    border: none !important;
    background: none !important;
    display: flex;
    padding: none !important;
    inset: none !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.ReactModal__Content--after-open {}

.ReactModal__Overlay--after-open {}

.ReactModal__Overlay--before-close {}